/* Estilo para telas menores (móveis) */
@media (max-width: 820px) {
    .card {
        display: none;
    }

    .userbar {
        display: none;
    }
    .banner{
        text-align: center;
    }

    .banner h1 {
        font-size: 3em;
    }

    .Menu-OffCanvas {
        margin: auto auto auto 30px;
        display: block;
    }

    .bi-search::before {
        content: "\f52a";
        margin: auto 15px auto auto;
    }

    #destaques {
        display: none;
    }

    .flex-produto {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
}

@media (max-width: 1000px) and (min-width: 821px) {
    .userbar li {
        margin: 0 20px;
    }

    .Menu-OffCanvas {
        display: none;
    }

    #destaques {
        flex: 0 0 250px; /* Reduz a largura para 250px */
    }
}

@media (min-width: 1000px) {
    .Menu-OffCanvas {
        display: none;
    }
}